<div class="mt-3">
   <div class="">
        <h3>Manage Your trash</h3>
        <a href="/me/stored/courses">Your course -></a>
   </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Course name</th>
                <th>Course lavel</th>
                <th>Deleted at</th>
                <th>Services</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}

            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <button type="button" data-id="{{this._id}}" class="btn btn-danger"
                        data-toggle="modal" data-target="#remove-course-modal">
                        destroy
                    </button>
                    <button class="btn btn-secondary btn-restore" data-id="{{this._id}}">restore</button>
                </td>
            </tr>

            {{else}}
                <tr>
                    <td colspan="5" class="text-center">Empty trash. <a href="/me/stored/courses">Back to list course -></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm remove --}}
<!-- Button trigger modal -->

<div class="modal" tabindex="-1" role="dialog" id="remove-course-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm remove course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span class="text-danger">Warning</span>! Permanently deleted?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger" id="btnDeleteCourse" >Confirm remove</button>
            </div>
        </div>
    </div>
</div>

{{!-- form fake method --}}

<form name="formDelCourse" method="POST"></form>
<form name="formRestoreCourse" method="POST"></form>

{{!-- js --}}
{{!-- day id course sang form modael, khi bat model thi moi lay id --}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId ;
        var formDelCourse = document.forms['formDelCourse'];
        var formRestoreCourse = document.forms['formRestoreCourse'];
        var btnRestore = $('.btn-restore');

        $('#remove-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId= button.data('id')

        });

        var btnRemove = document.querySelector('#btnDeleteCourse');

        btnRemove.onclick = function(){
            //force
            //{{!-- gan action form --}}
            formDelCourse.action = "/course/"+courseId+"/force?_method=DELETE";
            //submit
            formDelCourse.submit();
        }

        //restore
        btnRestore.click(function(){
            
          //{{!-- gan action form --}}
          var courseId = $(this).data('id');
            formRestoreCourse.action = "/course/"+courseId+"/restore?_method=PATCH";
            //submit
            formRestoreCourse.submit();
            
        })

    })
</script>